html, body {
    height: 100%;
    width: 100%;
}

body{
    background-image: url('../images/red-carpet.jpg') !important;
    background-size: cover;
    background-position: center center;  
}

h1 {
    font-family: 'Abril Fatface', cursive !important;
    font-size: 50px !important;
}

h1, h2, p {
    color: white !important;
}

.instructions {
    margin: 25px 50px 20px 50px;
}

.card {
    width: 50%; 
    margin: 0 auto; 
    margin-top: 25px;
}

.photo-set {
    margin-top: 25px;
}

#photo-one, #photo-two {
    width: 400px; 
    height: 400px; 
    object-fit: cover;
    margin: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#correct, #incorrect {
    font-size: 50px;
}

#correct {
    margin-bottom: 25px;
}

#trophy {
    color: gold;
}

@media only screen and (max-width:992px) {
    .card {
        width: 100%;
        margin: 0 auto; 
        margin-top: 25px;
    }

    #photo-one, #photo-two {
        width: 250px; 
        height: 250px; 
        object-fit: cover;
        margin: 25px;
    }
    #correct, #incorrect {
        font-size: 25px;
    }
}